<div class="accordion">

    {{if gt (len .Resources) 0}}
        <h2 class="header">&#709; Resources 📂</h2>
        <div>
            <ul>
                {{ range .Resources }}
                    <li><a href="{{ .Permalink }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </div>
    {{ end }}


    {{ $currentPage := . }}
    {{ $jsonFile := "" }}
    {{ $currentPagemd5 := md5 $currentPage.File.Path }}
    {{ $currentPagemd5ext := (print $currentPagemd5 ".json")}}
    {{ $files := readDir "data/commits/" }}
    {{if gt (len $files ) 0}}
    <h2 class="header">&#709; Page changelog 📖</h2>
    <div>
        {{ range $files }}
            {{ if eq .Name $currentPagemd5ext }}
                {{ $jsonFile := $currentPagemd5 }}
                {{ $data := index $.Site.Data.commits $jsonFile }}
                <ul>
                    {{ range $data }}
                        <li>
                            {{ dateFormat "2006-01-02" .commit_date }}: <a href="https://gitlab.com/hsbxl/site/commit/{{ .commit }}"><strong>{{ trim .message "\n" }}</strong></a> ({{ .author }})
                        </li>
                    {{ end }}
                </ul>
            {{ end }}
        {{ end }}
    </div>
    {{ end }}



</div>



<div class="editpage">
    [<a href="{{ .Site.Params.giteditpath }}/{{ .File.Path }}?commit_message=Edit {{ .File.Path }}">Edit this page</a>]
    <a href="https://gitlab.com/hsbxl/site"><img class="content_image" src="/images/build_vw.svg"></a>
</div>

<h2 class="header">Contact us</h2>
<p>For any questions you can reach out to us over Matrix at <a href="https://matrix.to/#/#hsbxl:matrix.org">#hsbxl:matrix.org</a>.</p>

</div>
</div>

{{ partial "footer.html" . }}
</body>
</html>
